.container-header-main{
    width: 100vw;
    height: 65px;
    background: rgb(21, 177, 255);
    z-index: 1 !important; 
    position:fixed;
    left:0;
    right:0;
    top:0;
}

.container-header-main .wrapper-header-main{
    display:flex;
    flex-direction: row;
    background: rgb(21, 177, 255);
    height: 65px;
    align-items: center;
    margin-left: 15%;
    margin-right: 20%;
    border-bottom: 2px solid rgb(21, 177, 255)
}

.wrapper-header-main .item-header{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.item-container{
    height: 65px;
    border-bottom: 2px solid rgb(21, 177, 255);
    display: flex!important;
    align-items: center !important;
}

.item-container-selected{
    background: rgba(255, 255, 255, 0.082);
    border-bottom: 2px solid rgba(255, 255, 255, 0.87);
}

.item-container .content{
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;  
    padding: 10px;
    color: rgb(255, 255, 255);
}

.item-container:hover{
    background: rgba(255, 255, 255, 0.116);
    border-bottom: 2px solid rgba(255, 255, 255, 0.87);
}

.item-container:active{
    color: rgb(0, 170, 255);
}
